<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.splashscreen">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="ECO-NICE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SplashScreen"
        tools:targetApi="31">

        <activity
            android:name=".End"
            android:exported="false" />
        <activity
            android:name=".SaveTheTurtle"
            android:exported="true" />
        <activity
            android:name=".Storyline3"
            android:exported="false" />
        <activity
            android:name=".Storyline2"
            android:exported="false" />
        <activity
            android:name=".Storyline1"
            android:exported="false" />
        <activity
            android:name=".CatchThatJunk2Result"
            android:exported="false" />
        <activity
            android:name=".CatchThatJunk2Home"
            android:exported="false" />
        <activity
            android:name=".CatchThatJunkLevel2"
            android:exported="false" />
        <activity
            android:name=".CatchThatJunk1Result"
            android:exported="false" />
        <activity
            android:name=".CatchThatJunkLevel1"
            android:exported="false" />
        <activity
            android:name=".ScoreActivity2"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity2"
            android:exported="false" />
        <activity
            android:name=".CatchThatJunk1Home"
            android:exported="false" />
        <activity
            android:name=".ScoreActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".above13home"
            android:exported="false" />
        <activity
            android:name=".below12home"
            android:exported="false" />
        <activity
            android:name=".Nameinput_page"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".HowToPlay"
            android:exported="false" />
        <activity
            android:name=".Startpage"
            android:exported="false" />
        <activity
            android:name=".Homepage"
            android:exported="false" />
        <activity
            android:name=".splashscreen_bg"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>